.search-button {
	height: 30px;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.button-wrapper {
		display: flex;
		justify-content: center;
	}

	div.app-inner > h2 {
		font-size: 1rem;
	}
}

@media screen and (max-width: 425px) {
	div.app-inner > h2 {
		font-size: 0.8rem;
	}
}
